name: shield

instance_groups:
- name: shield
  instances: 1
  azs:       [z1]
  vm_type:              small
  stemcell:             default
  persistent_disk_type: shield

  networks:
  - name: shield
    static_ips:
    - 10.213.13.27

  jobs:
    - name: core
      release: shield
      provides:
        shield: {shared: true, as: shield}
      properties:
        domain: 10.213.13.27
        agent:
          key: ((shield-agent-key.private_key))
        tls:
          certificate: ((shield-tls.certificate))
          key:         ((shield-tls.private_key))
        vault:
          tls:
            ca:          ((vault-tls.ca))
            certificate: ((vault-tls.certificate))
            key:         ((vault-tls.private_key))

    - name: shield-agent
      release: shield
      consumes:
        shield: {from: shield}
      properties:
        core:
          ca: ((shield-tls.ca))

variables:
  - name: shield-agent-key
    type: rsa

  - name: shield-ca
    type: certificate
    options:
      is_ca: true
      common_name: shieldca

  - name: shield-tls
    type: certificate
    options:
      ca: shield-ca
      common_name: shield
      extended_key_usage:
        - client_auth
        - server_auth
      alternative_names:
        - 127.0.0.1
        - 10.213.13.27
        - "*.shield.default.shield.bosh"

  - name: vault-ca
    type: certificate
    options:
      is_ca: true
      common_name: vaultca

  - name: vault-tls
    type: certificate
    options:
      ca: vault-ca
      common_name: vault
      extended_key_usage:
        - client_auth
        - server_auth
      alternative_names:
        - 127.0.0.1
        - "*.vault.default.shield.bosh"

update:
  canaries: 0
  max_in_flight: 1
  serial: true
  canary_watch_time: 1000-120000
  update_watch_time: 1000-120000

stemcells:
- alias: default
  os: ubuntu-trusty
  version: latest

releases:
- name: shield
  version: 8.0.3
  url: https://github.com/starkandwayne/shield-boshrelease/releases/download/v8.0.3/shield-8.0.3.tgz
  sha1: 4d1a6f3fb823d42f0550df217ab6831e3c352a93
