name: shield

instance_groups:
- name: shield
  azs: [z1]
  instances: 1
  vm_type: default
  stemcell: default
  persistent_disk_type: default
  networks: [{name: default}]
  - name: shield-daemon
    release: shield
    provides:
      shield-daemon: {shared: true, as: shield-daemon}
    properties:
      ssh_private_key: ((shield-daemon-sshkey.private_key))
      auth:
        username: admin
        password: ((shield-daemon-password))
        api_keys:
          autoprovision: ((shield-daemon-api-key))
      ssl:
        crt: ((shield-tls.certificate))
        key: ((shield-tls.private_key))
  - name: shield-agent
    release: shield
    consumes:
      shield-daemon: {from: shield-daemon}
    properties:
      autoprovision: true
      schedules: {default: daily 3am}
      retention-policies: {default: 30}

variables:
- name: shield-daemon-sshkey
  type: rsa
- name: shield-daemon-password
  type: password
- name: shield-daemon-api-key
  type: password
- name: shield-ca
  type: certificate
  options:
    is_ca: true
    common_name: shieldCA
- name: shield-tls
  type: certificate
  options:
    ca: shield-ca
    common_name: shield
    extended_key_usage:
    - client_auth
    - server_auth
    alternative_names:
    - 127.0.0.1
    - "*.shield.default.shield.bosh"

update:
  canaries: 0
  max_in_flight: 1
  serial: true
  canary_watch_time: 1000-120000
  update_watch_time: 1000-120000

stemcells:
- alias: default
  os: ubuntu-trusty
  version: latest

releases:
- name: shield
  version: 7.0.2
  url: https://github.com/starkandwayne/shield-boshrelease/releases/download/v7.0.2/shield-7.0.2.tgz
  sha1: db19190e1a21336bdee5ec7ed16d4b57e456cae7
