---
meta:
  name:    shield
  release: S.H.I.E.L.D.
  target:  sw
  url:     https://ci.starkandwayne.com

  initial_version: 5.1.0
  manifest:
    path: ci/manifest.yml

  bosh-lite:
    target: https://10.58.111.44:25555
    username: (( vault "secret/bosh-lites/lite44/users/admin:username" ))
    password: (( vault "secret/bosh-lites/lite44/users/admin:password" ))
    cacert:   (( vault "secret/bosh-lites/lite44/certs:rootCA.pem" ))

  bosh-lite-6x:
    target: https://10.58.111.44:25555
    deployment: shield-warden
    username:   admin
    password:   admin

  aws:
    access_key: (( vault "secret/aws/cfcommunity:access" ))
    secret_key: (( vault "secret/aws/cfcommunity:secret" ))

  git:
    name: Stark & Wayne CI Bot
    email: ci@starkandwayne.com

  github:
    owner:  starkandwayne
    repo:   shield-boshrelease
    branch: master
    private_key:  (( vault "secret/pipelines/shared/github:private_key" ))
    access_token: (( vault "secret/pipelines/shared/github:access_token" ))

  slack:
    webhook: (( vault "secret/pipelines/shield-boshrelease/slack:webhook" ))
    channel: '#shield'
    username:      starkandwayne-ci
    icon:          https://www.starkandwayne.com/assets/images/shield-blue-50x50.png
    blob_success:  '(( concat "$BUILD_PIPELINE_NAME: New version of $BUILD_JOB_NAME was detected, and updated in master. <" meta.url "/teams/$BUILD_TEAM_NAME/pipelines/$BUILD_PIPELINE_NAME| Cut a new release?>" ))'
    blob_failure:  '(( concat "$BUILD_PIPELINE_NAME: :airplane_arriving: <" meta.url "/teams/$BUILD_TEAM_NAME/pipelines/$BUILD_PIPELINE_NAME/jobs/$BUILD_JOB_NAME/builds/$BUILD_NAME| Failed to update the blob for $BUILD_JOB_NAME>" ))'


groups:
- name: blobs
  jobs:
  - shield

jobs:
- name: shield
  public: true
  plan:
  - aggregate:
    - get: git
    - get: shield
      trigger: true
      params:
        globs: [shield-server-linux-amd64.tar.gz]
  - task: update-shield
    config:
      platform: linux
      image_resource:
        type: docker-image
        source:
          repository: (( grab meta.image.name ))
          tag:        (( grab meta.image.tag ))
      inputs:
      - name: git
      - name: shield
      outputs:
      - name: pushme
      run:
        path: ./git/ci/scripts/update-blob
      params:
        REPO_ROOT:   git
        REPO_OUT:    pushme
        BLOB_DIR:    shield
        BLOB_NAME:   shield
        BLOB_BINARY: shield-server-linux-amd64.tar.gz
        BLOB_URL:    https://github.com/starkandwayne/shield
        BLOB_DESTINATION: shield/shield-server-linux-amd64-${VERSION}.tar.gz
        BLOB_CLEANUP:     shield/shield-server.*
        AWS_ACCESS_KEY: (( grab meta.aws.access_key ))
        AWS_SECRET_KEY: (( grab meta.aws.secret_key ))
        BRANCH:         (( grab meta.github.branch ))
    on_failure:
      put: notify
      params:
        channel:  (( grab meta.slack.channel ))
        username: (( grab meta.slack.username ))
        icon_url: (( grab meta.slack.icon ))
        text:     (( grab meta.slack.blob_failure ))
  - put: git
    params:
      rebase: true
      repository: pushme/git
    on_success:
      put: notify
      params:
        channel:  (( grab meta.slack.channel ))
        username: (( grab meta.slack.username ))
        icon_url: (( grab meta.slack.icon ))
        text:     (( grab meta.slack.blob_success ))
    on_failure:
      put: notify
      params:
        channel:  (( grab meta.slack.channel ))
        username: (( grab meta.slack.username ))
        icon_url: (( grab meta.slack.icon ))
        text:     (( grab meta.slack.blob_failure ))

- name: testflight
  serial_groups: [bosh]

resources:
- name: shield
  type: github-release
  source:
    user: starkandwayne
    repository: shield
    access_token: (( grab meta.github.access_token ))
